*{
    padding: 0px;
    margin: 0px;
}
.heading{
    text-align: center;
    background-color: yellow;
}
.container{
    height: 49px;
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: center;
}
.inputBtn{
    margin: 25px;
}
#addInfoBtn{
width: 79px;
height: 23px;
cursor: pointer;
border-radius:5px ;
    border: none;
    padding: 1.5px;
    background-color: white;
}
input{
    border-radius:5px ;
    border: none;
        outline: none;
    padding: 1.9px;
    width: 191px;
    height: 21px;
}
.scoreDiv{
    width: 100%;
    height: 100%;
    margin-top:19px ;
    display: flex;
    justify-content: center;
}
th{
    width: 149px;
    font-size: 17px;
    border: 1px solid black;
border-radius: 3px;
}
td{
    width: 149px;
    font-size: 17px;
    border: 1px solid black;
    padding-left: 3px;
    border-radius: 3px;
}
.textCenter{
    text-align: center;
}